/****General****/
@import "Partials/general.scss";
@import "Partials/variables.scss";
@import "Partials/mixin.scss";
@import "Partials/header.scss";
@import "Partials/footer.scss";
@import "Partials/anim_menu.scss";

/***Image de fond***/
.image {
    width: 100%;
    height: 275px;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 0;
    @media (min-width: 1024px) {
        height: 383px;
    }
}

/***Menu***/
.menu {
    @include flexbox_column;
    border-radius: 40px 40px 0 0;
    background-color: $second_background_color;
    width: 100%;
    max-width: 1055px;
    padding: 20px;
    box-sizing: border-box;
    margin: -40px auto 0 auto;
    z-index: 1;
    position: relative;
    overflow: hidden;
    &__title {
        @include flexbox_row;
        justify-content: space-between;
        align-items: center;
        margin: 20px auto 0 auto;
        width: 100%;
        max-width: 341px;
        .main__title {
            @include main_title_menu;
        }
        .menu__icon {
            padding-right: 25px;
            @include heart;
        }
    }
    .dishes__type {
        @include flexbox_column;
        gap: 12px;
        margin: 40px auto 0 auto;
        box-sizing: border-box;
        max-width: 634px;
        width: 100%;
        .dishes__title {
            @include dishes_type;
            padding-bottom: 8px;
            border-bottom: 3px solid $tertiary_color;
            width: 40px;
        }
        .cards {
            @include cards;
            @include flexbox_row;
            box-shadow: 0px 4.01px 15.04px 0px #0000001A;/*à vérifier*/
            height: 69px;
            position: relative;
            overflow: hidden;
            &__text {
                padding: 15px;
                width: 100%;
                transition: width 500ms;
                position: absolute;
                box-sizing: border-box;
                .cards__title {
                    @include dishes_title;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .cards__description {
                    @include flexbox_row;
                    justify-content: space-between;
                    
                    .cards__subtitle {
                        @include dishes_description;
                        padding-top: 3px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    .cards__price {
                        @include dishes_description;
                        padding-top: 3px;
                    }
                }
            }
            &__click {
                width: 59px;
                background-color: $tertiary_color;
                height: 100%;
                @include flexbox_row;
                justify-content: center;
                align-items: center;
                border-radius: 0 15px 15px 0;
                position: absolute;
                right: 0;
                transition: transform 500ms;
                transform: translateX(59px);
                &--icon {
                    color: $secondtxt_color;
                    font-size: 20px;
                }
            }
            &:hover {
                .cards__click {
                    transform: translateX(0);
                    transition: transform 500ms;
                }
                .cards__text {
                    transition: width 500ms;
                    width: calc(100% - 59px);
                }
            }
        }
    }
    .btn {
        @include btn;
        width: 158px;
        margin-top: 40px;
    }
    
}
