/****General****/
@import "Partials/variables.scss";
@import "Partials/general.scss";
@import "Partials/mixin.scss";
@import "Partials/header.scss";
@import "Partials/footer.scss";
@import "Partials/anim_menu.scss";

/***Image de fond***/
.image {
    width: 100%;
    height: 275px;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 1;
    @media (min-width: 1024px) {
        height: 383px;
    }
}

/***Menu***/
.menu {
    @include flexbox_column;
    border-radius: 40px 40px 0 0;
    background-color: $second_background_color;
    width: 100%;
    max-width: 1055px;
    padding: 0 13px;
    margin: -55px auto 0 auto;
    z-index: 2;
    position: relative;
    overflow: hidden;
    @media (min-width: 1024px) {
        margin-top: -40px;
        padding: 0;
    }
    &__title {
        @include flexbox_row;
        justify-content: space-between;
        align-items: center;
        margin: 32px auto 0 auto;
        width: 100%;
        max-width: 341px;
        height: 29px;
        @media (min-width: 1024px) {
            margin-top: 51px;
        }
        .main__title {
            @include main_title_menu;
        }
        .menu__icon {
            padding-right: 25px;
            @include heart;
        }
    }
    .dishes__type {
        @include flexbox_column;
        gap: 12px;
        margin: 40px auto 0 auto;
        max-width: 634px;
        width: 100%;
        .dishes__title {
            font-weight: $light-font-weight;
            font-size: $txt_size;
            text-transform: uppercase;            
            &::after {
                content: "";
                border-bottom: 3px solid $tertiary_color;
                width: 40px;
                display: block;
                margin-top: 5px;
            }
        }
        .cards {
            @include cards;
            @include flexbox_row;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            position: relative;
            overflow: hidden;
            &__text {
                @include flexbox_column;
                gap: 5px;
                padding: 13px 15px;
                width: 100%;
                transition: width 500ms ease-in-out;
                .cards__title {
                    font-weight: $middle-font-weight;
                    font-size: $secondary_title_size;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .cards__description {
                    @include flexbox_row;
                    justify-content: space-between;
                    .cards__subtitle {
                        @include dishes_description;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    .cards__price {
                        @include dishes_description;
                        font-weight: bold;
                    }
                }
            }
            &__click {
                width: 59px;
                background-color: $tertiary_color;
                height: 100%;
                @include flexbox_row;
                @include center;
                border-radius: 0 15px 15px 0;
                position: absolute;
                right: 0;
                transition: transform 500ms ease-in-out;
                transform: translateX(59px);
                &--icon {
                    color: $secondtxt_color;
                    font-size: 20px;
                }
            }
            &:hover {
                .cards__click {
                    transform: translateX(0);
                }
                .cards__text {
                    width: calc(100% - 59px);
                }
            }
        }
    }
    .btn {
        @include btn;
        margin: 40px auto;
        padding: 16px 48px;
    }
    
}
