/***Footer***/
.footer {
    background-color: $footer_background_color;
    padding: 22px 25px;
    @media (min-width: 1024px) {
        @include flexbox_row;
        flex-direction: row-reverse;
        align-items: flex-end;
        padding: 60px 25px 30px 0;
        gap: 16px;
    }
    &__logo {
        font-family: $second_fontfamily;
        font-weight: normal;
        font-size: $secondary_title_size;
        color: $secondtxt_color;
        padding-bottom: 16px;
        width: 139px;
        @media (min-width: 1024px) {
            padding-bottom: 0;
        }
    }
    &__list {
        @include flexbox_column;
        gap: 7px;
        @media (min-width: 1024px) {
            @include flexbox_row;
        }
    }
    &__listpoint {
        @include flexbox_row;
        gap: 11px;
        align-items: center;
        width: 190px;
    }
    &__link {
        @include main_txt;
        font-weight: normal;
        color: $secondtxt_color;
        &--nologo {
            display: block;
            width: 130px;
        }
    }
    &__icon {
        font-size: 13px;
        width: 11px;
        display: block;
        color: $secondtxt_color;
        &--rotate {
            font-size: 11px;
            transform: rotate(-10deg);
         }
    } 
}