/***Header***/
header {
    position: relative;
    z-index: 1;
    .navbar {
        @include flexbox_row;
        @include center;
        padding: 20px 0 13px 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        @media (min-width: 1024px) {
            padding: 30px 0;
            box-shadow: none;
        }
        &__img {
            width: 162px;
            height: 30px;
            @media (min-width: 1024px) {
                width: 200px;
                height: 34px;
            }
        }
        &__link {
            position: absolute;
            left: 23px;
        }
        &__icon {
            font-size: $txt_size;
            color: $tertiarytxt_color;
        }
    }
}

