/***Header***/
.navbar {
    @include flexbox_row;
    @include center;
    padding: 19px 0 14px 0;
    position: relative;
    @media (min-width: 1024px) {
        padding: 30px;
    }
    &__img {
        width: 162px;
        height: 34px;
        @media (min-width: 1024px) {
            width: 200px;
        }
    }
    &__link {
        position: absolute;
        left: 23px;
    }
    &__icon {
        font-size: $txt_size;
        color: $tertiarytxt_color;
    }
}