$purple_color: #9356DC;
$pink_color: #FF79DA;
$darkgreen_color: #008766;
$green_color: #99E2D0;
$blacktxt_color: #000000;
$whitetxt_color: #FFFFFF;
$main_background_color: #F6F6F6;
$second_background_color: #EAEAEA;
$footer_color: #353535;
$btn_color: linear-gradient($pink_color, $purple_color);
$title_color: #101010;
$main_family: 'Roboto', sans-serif; 
$main_space: 40px;